// colors
$main-white: rgb(255, 255, 255);
$main-dark: rgb(29, 24, 24);
$main-light-orange: rgb(255, 176, 103);
$main-light-orange-20: rgba(255, 176, 103, 0.2);
$main-light-orange-40: rgba(255, 176, 103, 0.4);

$accent-orange: rgb(247, 126, 62);
$accent-red: rgb(168, 0, 56);
$accent-orange-40: rgba(247, 126, 62, 0.4);

$second-fading-red: rgb(130, 66, 77);
$second-fading-red-20: rgba(130, 66, 77, 0.2);
$second-gray: rgb(147, 147, 147);
$second-bg-blur: rgba(29, 24, 24, 0.5);

$service-mistake: rgb(225, 4, 78); 

