<footer class="footer" id="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer__info">
                <img class="footer__logo" src="images/logo.png" alt="logo">
                <div class="footer__rights">
                    <p>ООО «Магри»</p>
                    <p>2024 © Все права защищены</p>
                </div>
            </div>
            <nav class="footer__nav">
                <h5 class="footer__nav-title">Навигация</h5>
                <ul class="footer__nav-list">
                    <li class="footer__nav-item"><a href="about.html">О компании</a></li>
                    <li class="footer__nav-item"><a href="catalog.html">Каталог</a></li>
                    <li class="footer__nav-item"><a href="#faq">FAQ</a></li>
                    <li class="footer__nav-item"><a href="about.html#">Видеогалерея</a></li>
                </ul>
            </nav>
            <div class="footer__contacts">
                <h5 class="footer__contacts-title">Контакты</h5>
                <ul class="footer__contacts-list">
                    <li class="footer__contacts-item"><img src="images/icons/location-icon.svg" alt="icon"><a
                            href="https://yandex.ru/maps/213/moscow/search/111024%2C%20г.%20Москва%2C%20ул.%205-я%20кабельная%2C%20д.2%20(ТЦ%20СпортЕх)/?ll=37.717192%2C55.737899&sll=37.717192%2C55.737899&sspn=0.015622%2C0.005180&z=16.98" target="_blank">
                            111024, г. Москва, ул. 5-я кабельная, д.2 (ТЦ СпортЕх), этаж 1А, офис 7</a></li>
                    <li class="footer__contacts-item"><img src="images/icons/email-icon.svg" alt="icon"><a
                            href="mailto:magri@magri.ru">magri@magri.ru</a></li>
                    <li class="footer__contacts-item"><img src="images/icons/phone-icon.svg" alt="icon"><a
                            href="tel:+74956474956">8 (495) 647-49-56</a></li>
                    <li class="footer__contacts-item"><img src="images/icons/person-icon.svg" alt="icon"><a
                            href="tel:+79032881482"><span>Директор по продажам</span>8 (903) 288-14-82</a></li>
                    <li class="footer__contacts-item"><img src="images/icons/person-icon.svg" alt="icon"><a
                            href="tel:+79036754312"><span>Зам. директора по продажам</span>8 (903) 675-43-12</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>